crd-sfn_serverless.yml
service: crd-sfn

frameworkVersion: '2'

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true

plugins:
  - serverless-webpack
  - serverless-step-functions

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}

  iamManagedPolicies:
    - arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess

  environment:
    TABLE_NAME:
      Ref: DDBTable

functions:
  evalTransaction:
    handler: src/eval.handler

  sendEmail:
    handler: src/ses.handler

resources:
  Resources:
    DDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-${self:provider.stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: ID
            AttributeType: S
        KeySchema:
          - AttributeName: ID
            KeyType: HASH

stepFunctions:
  stateMachines:
    machine:
      name: ${self:service}-${self:provider.stage}
      definition:
        Comment: CRD-SFN Example
        StartAt: evalTransaction
        States:
          evalTransaction:
            Type: Task
            Resource:
              Fn::GetAtt:
                - evalTransaction
                - Arn
            Next: choice
          choice:
            Type: Choice
            Choices:
              - Variable: $.fraudulant
                BooleanEquals: true
                Next: sendEmail
            Default: dynamoDBWrite
          dynamoDBWrite:
            Type: Task
            Resource: arn:aws:states:::dynamodb:putItem
            Parameters:
              TableName:
                Ref: DDBTable
              Item:
                ID:
                  S: $.id
                NAME:
                  S: $.Name
                ITEM:
                  S: $.Item
                EMAIL:
                  S: $.Email
            Next: sendEmail
          sendEmail:
            Type: Task
            Resource:
              Fn::GetAtt:
                - sendEmail
                - Arn
            Next: succeed
          succeed:
            Type: Succeed
