large-file_serverless.yml
service: example-stepf-nodejs

provider:
  name: aws
  runtime: nodejs12.x
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ec2:*"
        - "s3:*"
      Resource:
        - "*"

functions:
  extract:
    name: lambda-extract
    memorySize: 512
    timeout: 300
    handler: src/functions/extract/index.handler
    environment: 
      BATCH_SIZE: 500

stepFunctions:
  stateMachines:
    processfile:
      name: stepf-process-delete
      definition:
        Comment: "A sample application"
        StartAt: Extract
        States:
          Extract:
            Type: Task
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-extract"
            Next: CheckResults
          CheckResults: 
            Type: Choice
            Choices: [
              Variable: $.results.finished,
              BooleanEquals: false,
              Next: ExampleWork
            ]
            Default: Done
          ExampleWork:
            Type: Pass
            Result:
              success: true
            ResultPath: $.result
            Next: Extract
          Done:
            Type: Pass
            End: true
plugins:
  - serverless-webpack
  - serverless-step-functions
  - serverless-pseudo-parameters
custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true  

