step-functions-4-the-boyz_serverless.yml
service: dan-step-testing-service
frameworkVersion: ">=1.11.0 <=2.0.0"
provider:
  name: aws
  apiKeys:
    - ${self:service}-${opt:stage}-internal
  runtime: nodejs12.x
  region: us-east-1
  versionFunctions: false
  environment:
    STAGE: ${opt:stage}

plugins:
  - serverless-step-functions
  - serverless-offline

# --------------------------- START CUSTOM SETTINGS -------------------------- #

custom:

  serverless-offline:
    port: 3001

package:
  exclude:
    - configure/**
    - coverage/**
    - src/**/*.test.js
    - .node-version
    - '*.sh'
    - package.json
    - yarn.lock
    - README.md

functions:
  subCreated:
    handler: src/states/subscription-cancelled.handler
  subCancelled:
    handler: src/states/subscription-created.handler

stepFunctions:
  stateMachines:
    dansStepFunction:
      events:
        - http:
           path: start
           method: POST
      name: dansTurningMachine
      definition:
        Comment: "A Hello World example of the Amazon States Language using an AWS Lambda Function"
        StartAt: ChoiceState
        States:
          ChoiceState:
            Type: Choice
            Choices:
            - Variable: "$.event_type"
              StringEquals: "subscription_created"
              Next: Created
            - Variable: "$.event_type"
              StringEquals: "subscription_cancelled"
              Next: Cancelled
            Default: Halt
          Created:
            Type: Task
            Resource:
              Fn::GetAtt: [subCreated, Arn]
            End: true
          Cancelled:
            Type: Task
            Resource:
              Fn::GetAtt: [subCancelled, Arn]
            End: true
          Halt:
            Type: Pass
            Result:
              message: 'Unhandled Event Type'
            End: true
