Serverless_Framework/milestones_serverless.yml
service: process3

provider:
  name: aws
  stage: ${opt:stage, 'dev'}
  runtime: nodejs8.10
  iamRoleStatements:
    - Effect: Allow
      Action:
        - 'states:SendTaskSuccess'
      Resource: '*'  

functions:
  step3:
    handler: steps.step3

stepFunctions:

  stateMachines:
    process3:
      name: process3-${opt:stage}
      definition:
          StartAt: m1
          States:
            m1:
              Type: Pass
              Next: m2
            m2:
              Type: Pass
              Next: m3
            m3:
              Type: Task
              Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-step3"
              ResultPath: '$.step3'
              End: true




plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters
